---
layout: root
---

{%- set headerSectionClass = "sm:shadow-solid border border-black/40 p-2 sm:p-2" -%}

<div class="mx-auto container flex flex-col sm:gap-y-2">
  <header class="flex sm:gap-4 font-mono sm:my-2 sm:mx-2">

    <nav class="{{headerSectionClass}} noise sm:px-4 flex-grow text-base sm:text-heading">
      <ol class="flex gap-x-0.5 sm:gap-x-1 items-center h-full">
        <div class="hidden sm:inline-block bg-neutral-100 text-black" aria-hidden="true">
          {% icon "tmthy:logo", width="32", height="32", "stroke-width"="3" %}
        </div>
        {% set breadcrumbs = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, {includeSelf: true}) %}
        {% for crumb in breadcrumbs %}
          <span class="text-neutral/50 text-lg" aria-hidden="true">/</span>
          <li {% if page.url == crumb.url -%} aria-current="page" {%- endif %}>
            {%- set name = crumb.title | default(crumb.key) -%}
            {%- if loop.last -%}
              <span class="text-neutral/80">{{name}}</span>
            {%- else -%}
              <a href="{{crumb.url}}" class="underline hover:no-underline decoration-black/50">{{name}}</a>
            {%- endif -%}
          </li>
        {% endfor %}
      </ol>
    </nav>

    <ul class="flex flex-row text-sm sm:text-base md:text-lg">
      {%- for social in socials -%}
      <li class="h-full">
        <a 
          class="grid place-items-center h-full btn btn-{{social.variant}} max-sm:shadow-none p-2"
          target="_blank"
          href="{{social.href}}"
          title="{{social.name}}"
        >
          {% set label = social.accessibleName | default(social.name) + " icon" %}
          {% icon social.icon, width="1.25em", height="1.25em", "aria-label"=label %}
        </a>
      </li>
      {%- endfor -%}
    </ul>
  </header>

  <div class="mx-4 sm:mx-8 mt-4 px-6 py-4 self-center">
    {{ content | safe }}
  </div>
</div>

