<!doctype html>
<html lang="en">
  <head>
    {% if title %}
      <title>{{ title }} | tmthy.dev</title>
    {% else %}
      <title>tmthy.dev</title>
    {% endif %}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

    {%- for name, content in meta -%}
      <meta name="{{ name }}" content="{{ content }}" />
    {%- endfor -%}

    <link rel="icon" href="/favicon.svg" />
    <link rel="stylesheet" href="/css/app.css" />

    {% getBundle "html", "head" %}
  </head>
  <body class="{{ bodyClass }} m-0 h-screen bg-white">
    {{ content | safe }}
  </body>
</html>
