---
layout: main
---

{% html "head" %}
  <link rel="stylesheet" href="/css/prose.css" />
  <link rel="stylesheet" href="/vendor/mathup.css" />
  <link rel="stylesheet" href="/vendor/prism-gruvbox-dark.css" />

  {% if type == "shader" %}
    <script type="module">
      import { runShader } from "/js/shader";
      import fragSource from "/sketches/{{src}}?raw";
      runShader(fragSource);
    </script>
  {% else %}
    <script src="/js/{{sketchId}}" type="module" defer></script>
  {% endif %}
{% endhtml %}

<canvas
  id="sketchCanvas"
  class="mx-auto mb-8 aspect-square w-full max-w-xl"
  style="{{ canvasStyle }}"
></canvas>

<article>{{ content | safe }}</article>
