{% extends "post.html" %}

{%- set sourcePath = ("sketches/" + src) | srcPath -%}

{% html "head" %}
  {% if type == "shader" %}
    {% set syntaxLang = "glsl" %}
    <script type="x-shader/x-fragment" id="fragShader">
      {%- include sourcePath -%}
    </script>
    <script type="module">
      import { runShader } from "/js/shader";
      const fragSource = fragShader.textContent;
      runShader(fragSource);
    </script>
  {% else %}
    {% set syntaxLang = "clojure" %}
    <script src="/js/{{sketchId}}" type="module" defer></script>
  {% endif %}
{% endhtml %}

{% html "body" %}
  <dialog
    id="sourceModal"
    class="isolate size-full max-h-screen max-w-screen bg-transparent px-2 backdrop:bg-black/25"
  >
    <form method="dialog">
      <div class="fixed top-0 right-0 p-4">
        <button class="btn bg-white p-2 font-mono">Close</button>
      </div>
      <button class="absolute inset-0 -z-10 cursor-pointer" aria-label="close"></button>
    </form>
    <div class="z-10 mx-auto max-w-prose">
      {% highlight syntaxLang %}
        {%- include sourcePath -%}
      {% endhighlight %}
    </div>
  </dialog>
{% endhtml %}

{% block preamble %}
<div class="mx-auto mb-8 flex max-w-xl flex-col gap-4">
  <canvas
    id="sketchCanvas"
    class="aspect-square w-full shadow-solid"
    style="{{ canvasStyle }}"
  ></canvas>

  <button onclick="sourceModal.showModal()" class="btn btn-lift p-2">View Source</button>
</div>
{% endblock %}
