---
import Layout from '@layouts/Layout.astro'
---

<Layout title="Blog">
    <main class="container mx-auto max-w-prose px-5">
        <hgroup class="prose">
            <h1>Eventual Blog</h1>

            <p>
                I want to write about my process because I like teaching. Currently there's nothing
                to see here though... sorry about that!
            </p>
        </hgroup>
    </main>
</Layout>
