---
import Layout from '@layouts/Layout.astro'
---

<Layout title="Not Found">
    <main class="mx-auto w-full max-w-prose p-5 text-center">
        <h1 class="text-2xl font-medium">Uh oh! The resource was not found :(</h1>
        <a href="/" class="underline hover:no-underline">Return Home</a>
    </main>
</Layout>
