---
import RootLayout from '../layouts/RootLayout.astro'
---

<RootLayout title="Page Not Found!" background="#282a36">
    <div>
        <header>
            <span>:(</span>
        </header>
        <main>
            <h2>Uh oh!</h2>
            <h3>There is no page at<wbr /> <code></code></h3>
        </main>
        <nav>
            <a href="/">Return to Solid Ground</a>
        </nav>
    </div>
    <script>
        // This is stupid, but it's to get around the fact that
        // Cloudflare will change the request path on the server
        const elem = document.querySelector('main > h3 > code')
        elem.textContent += window.location.pathname
    </script>
</RootLayout>

<style>
    div {
        font-family: sans-serif;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 2em;
        color: #fefef8;
        width: min(45rem, 100%);
        margin-inline: auto;
    }
    header > span {
        font-family: monospace;
        font-size: 2rem;
        font-weight: 700;
    }
    main {
        width: 100%;
    }
    main > h2 {
        font-size: 3rem;
    }
    main > h3 {
        font-size: 2.5rem;
        font-weight: normal;
        color: #eeeee8;
    }
    main code {
        white-space: nowrap;
    }

    nav {
        margin-top: 3em;
    }
    nav > a {
        background-color: black;
        color: white;
        text-decoration: none;
        font-size: 1.25rem;
        padding: 0.6em 1em;
        border-radius: 0.3em;
        font-family: monospace;
    }
    nav > a:hover {
        background: #101010;
        color: #eeeee8;
    }
</style>
