---
import type { IconifyIcon } from '@iconify/types'
import githubIcon from '@iconify-icons/mdi/github'
import emailIcon from '@iconify-icons/mdi/email'
import linkedInIcon from '@iconify-icons/mdi/linkedin'

import Logo from '@components/Logo'
import RootLayout from '@layouts/RootLayout.astro'

import { pages } from '@components/Navigation'
import Icon from '@components/Icon.astro'

const socials: {
    href: string
    title: string
    icon: IconifyIcon
}[] = [
    {
        href: 'https://github.com/flmng0',
        title: 'GitHub',
        icon: githubIcon,
    },
    {
        href: 'https://www.linkedin.com/in/timothy-davis-bb749b209/',
        title: 'LinkedIn',
        icon: linkedInIcon,
    },
    { href: 'mailto:tmthydvs@gmail.com', title: 'Email', icon: emailIcon },
]
---

<RootLayout title="Home">
    <div class="flex min-h-screen flex-col place-items-center bg-flamingo-950 py-9">
        <main class="container prose flex-grow space-y-8 px-5 prose-hr:my-4">
            <section>
                <h1 class="mb-5 leading-relaxed">
                    Hello! I'm <span class="feature-text">Timothy Davis</span>
                </h1>

                <nav aria-label="social links" class="not-prose flex flex-shrink flex-row gap-3">
                    {
                        socials.map(({ href, icon, title }) => {
                            return (
                                <a
                                    href={href}
                                    aria-labelledby="span"
                                    class="flex flex-row gap-2 rounded-md bg-flamingo-900 px-3 py-2"
                                >
                                    <Icon {...icon} />
                                    <span>{title}</span>
                                </a>
                            )
                        })
                    }
                </nav>
                <hr />

                <p>
                    This website is under active development, I only started (re)developing it on
                    the 7th of March 2023.
                </p>
                <p>
                    I created this website as a place to store all of my little projects, and to
                    distract myself from work.
                </p>
                <p>
                    Eventually this will be a fully fledged portfolio. As you could probably tell,
                    that is not the case yet.
                </p>
            </section>
        </main>

        <footer>
            <nav aria-label="site links" class="flex flex-row gap-2">
                {
                    pages
                        .filter(({ href }) => href !== '/')
                        .map(({ href, name }) => (
                            <a
                                href={href}
                                class="not-prose px-1 text-lg font-normal text-white underline hover:text-flamingo-200"
                            >
                                {name}
                            </a>
                        ))
                }
            </nav>
        </footer>
    </div>

    <figure
        class="fixed bottom-0 right-0 -z-50 origin-center -translate-y-12 scale-125 text-flamingo-800"
    >
        <Logo />
    </figure>
</RootLayout>

<style scoped>
    .feature-text {
        @apply whitespace-nowrap bg-flamingo-800 tracking-wide text-fuchsia;
    }

    .feature-text::selection {
        @apply bg-flamingo-900 text-fuchsia;
    }

    .feature-text,
    .feature-text::selection {
        @apply px-4 py-1;
    }
</style>
