---
  import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout title="Home" description="Portfolio of Timothy Davis. Software developer, with a passion for web design, and a need to always be learning!">
  <main>
    <h1>
      Hello, my name is
      <br />
      <strong class="text-accent">Timothy Davis</strong>
    </h1>

    <p>
      I am a software developer, with a heart for web design, and an itch to learn more.
    </p>
  </main>
</BaseLayout>
