---
import SocialLink from '@components/SocialLink.astro'
import RootLayout from '@layouts/RootLayout.astro'

const socials: {
    href: string
    title: string
}[] = [
    {
        href: 'https://github.com/flmng0',
        title: 'GitHub',
    },
]
---

<RootLayout title="Home">
    <main class="container prose dark:prose-invert mx-auto space-y-8 px-5">
        <section>
            <h1 class="text-primary">Hello! I'm Timothy Davis</h1>
            <p>
                This website is under active development, I only started (re)developing it on the
                7th of March 2023.
            </p>
            <p>
                I created this website as a place to store all of my little projects, and to
                distract myself from work.
            </p>
            <p>
                Eventually this will be a fully fledged portfolio. As you could probably tell, that
                is not the case yet.
            </p>
        </section>

        <section>
            <strong>
                I would recommend the <a href="/sketches">sketches</a> page to see some toy projects.
            </strong>
        </section>

        <section>
            <h2>Some Social Links</h2>
            <nav class="not-prose mt-2 flex gap-2">
                {socials.map((social) => <SocialLink {...social} />)}
            </nav>
        </section>
    </main>
</RootLayout>
