---
import { Image } from "astro:assets";

import SvelteIcon from "~icons/devicon/svelte";
import AstroIcon from "~icons/devicon/astro";
import GoIcon from "~icons/devicon/go";
import TailwindIcon from "~icons/devicon/tailwindcss";

import BaseLayout from "../layouts/BaseLayout.astro";
import excellence from "../assets/digital-excellence.jpg";

const webTechs = [
  { name: "Svelte", icon: SvelteIcon, href: "https://svelte.dev/" },
  { name: "Astro", icon: AstroIcon, href: "https://astro.build" },
  { name: "Go", icon: GoIcon, href: "https://go.dev/" },
  {
    name: "Tailwind",
    icon: TailwindIcon,
    href: "https://tailwindcss.com/",
  },
];
---

<BaseLayout
  title="About Me"
  description="Information about Timothy Davis, a software developer in the Northern Territory of Australia"
>
  <main>
    <h1>Who Am I?</h1>

    <p>
      I'm <a href="/">Timothy Davis</a>. I wasn't lying to you on the home page.
      I'm a software developer from the Northern Territory, Australia.
    </p>
    <p>
      Web development is my current passion when it comes to software, but I
      have a long history of hobby game development; with specific interest in
      graphics and rendering.
    </p>
    <figure class="excellence">
      <Image
        src={excellence}
        alt="Timothy Davis receiving the 2020 STEM Student of the year award from Damien Charles"
      />
      <figcaption>
        Me (right) receiving the 2020 STEM Student of the year award from Damien
        Charles (NEC NT Regional Manager).
      </figcaption>
    </figure>
    <p>
      Whilst I don't have much professional experience, specifically in software
      development, I've always strived to learn what I can in my spare time.
    </p>
    <p>
      At the moment, my favourite web technologies at the moment are {
        webTechs.map(({ name, icon: Icon, href }, i) => {
          const sep = i < webTechs.length - 2 ? ", " : " and ";
          return (
            <>
              <a href={href} class="tech">
                <Icon />
                <span>{name}</span>
              </a>
              {i < webTechs.length - 1 && sep}
            </>
          );
        })
      }.
    </p>
  </main>
</BaseLayout>

<style>
  main {
    width: min(100%, var(--size-content));
    margin: var(--size-8) auto;
  }

  h1 {
    text-align: center;
  }

  a {
    color: var(--accent);
  }

  .tech {
    vertical-align: -0.15em;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: var(--size-1);
    border-radius: var(--size-1);
    gap: var(--size-1);
    background-color: var(--background-light);
    color: var(--accent-light);
  }

  .excellence {
    max-width: 50%;
    float: right;
  }

  .excellence img {
    max-width: 100%;
    height: auto;
  }
</style>
