---
import LightIcon from "~icons/carbon/sun";
import DarkIcon from "~icons/carbon/moon";

import ThemeSwap from "../components/ThemeSwap.svelte";
---

<header id="siteHeader">
  <div class="container">
    <input type="checkbox" id="navbar-open" />
    <label for="navbar-open">
      <div class="indicator"></div>
    </label>

    <h2>
      <a href="/"> tmthy.dev</a>
    </h2>

    <nav>
      <a href="/blog">Blog</a>
      <a href="/sketches">Sketches</a>
      <a href="/projects">Projects</a>
      <a href="/me">About Me</a>
    </nav>

    <ThemeSwap client:load>
      <i slot="light"><LightIcon /></i>
      <i slot="dark"><DarkIcon /></i>
    </ThemeSwap>
  </div>
</header>

<script>
  const siteHeader = document.getElementById("siteHeader")!;
  const SCROLL_MARGIN = 50;

  window.addEventListener("scroll", () => {
    if (window.scrollY > SCROLL_MARGIN) {
      siteHeader.classList.add("scrolled");
    } else {
      siteHeader.classList.remove("scrolled");
    }
  });
</script>

<style>
  header {
    position: sticky;
    top: 0;
    z-index: 999;

    padding-inline: var(--size-fluid-3);
    padding-block: var(--size-6);
  }
  header::before {
    content: "";
    transition: opacity 50ms ease-in;
    position: absolute;
    inset: 0;
    opacity: 0;
    background-image: linear-gradient(
      to bottom,
      rgb(0 0 0 / 0.7),
      rgb(0 0 0 / 0)
    );
  }

  header.scrolled::before {
    opacity: 1;
  }

  i {
    font-size: 1.5em;
  }

  .container {
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: var(--size-fluid-2);
  }

  h2 {
    font-family: var(--font-display);
    color: var(--accent);
  }

  nav {
    display: flex;
    flex-flow: row norwap;
    align-items: center;
    gap: var(--size-fluid-1);

    color: var(--text-alt);

    flex-grow: 1;

    display: flex;
    flex-flow: row wrap;
    gap: var(--size-3);
  }

  nav a {
    color: currentColor;
  }
  nav a:hover {
    color: var(--text);
  }

  button {
    color: var(--text-alt);
  }

  button:hover {
    color: var(--text);
  }

  input,
  label {
    display: none;
  }

  @media (max-width: 850px) {
    label {
      --thickness: 2px;
      --gap: 8px;

      cursor: pointer;

      display: grid;
      place-items: center;
      width: 1em;
      height: 1em;
    }

    .indicator {
      position: relative;

      transition-duration: 100ms;
      transition-property: background-color;
      transition-delay: 200ms;
    }

    .indicator,
    .indicator::before,
    .indicator::after {
      width: 100%;
      height: var(--thickness);
      border-radius: var(--thickness);

      background-color: currentColor;

      transition-timing-function: ease-in;
    }

    .indicator::before,
    .indicator::after {
      content: "";
      position: absolute;

      transition-property: background-color, transform, top, bottom;
      transition-duration: 250ms;
      transform-origin: center;
      left: 0;
    }

    .indicator::before {
      top: calc(-1 * var(--gap) + var(--thickness));
    }

    .indicator::after {
      bottom: calc(-1 * var(--gap) + var(--thickness));
    }

    input:checked + label > .indicator {
      background-color: transparent;
      transition-delay: 0s;
    }

    input:checked + label > .indicator::after {
      bottom: 0;
      transform: rotate(-135deg);
    }

    input:checked + label > .indicator::before {
      top: 0;
      transform: rotate(135deg);
    }

    nav {
      position: absolute;
      left: var(--size-4);

      flex-wrap: nowrap;

      width: 0px;
      height: 100%;

      transition: width 0.25s linear;
      overflow: hidden;

      background: var(--background);
    }

    nav > :first-child {
      padding-left: 1em;
    }

    h2 {
      flex-grow: 1;
    }

    input:checked ~ nav {
      width: 850px;
    }
  }
</style>
