---
interface Props {
    pages: { href: string; name: string }[]
}

const { pages } = Astro.props
---

<nav class="flex h-16 items-center justify-around bg-gray-200">
    <ul class="flex h-full justify-center gap-4">
        {
            pages.map(({ href, name }) => (
                <li class="h-full border-b-2 border-gray-300 px-2 aria-[current]:border-gray-500" aria-current={Astro.url.pathname === href}>
                    <a class="flex h-full flex-col justify-end pb-3" {href}>{name}</a>
                </li>
            ))
        }
    </ul>
</nav>

