---
import DesktopNav from './DesktopNav.astro'
import MobileNav from './MobileNav.svelte'

const pages: {
    href: string
    name: string
}[] = [
    { href: '/', name: 'Home' },
    { href: '/sketches', name: 'Sketches' },
    { href: '/blog', name: 'Blog' },
]
---

<div class="hidden md:block">
    <DesktopNav {pages} />
</div>
<div class="md:hidden">
    <MobileNav {pages} current={Astro.url.pathname} client:visible />
</div>
