---
import type { CollectionEntry } from 'astro:content'

interface Props {
    sketch: CollectionEntry<'sketches'>
}

const { sketch } = Astro.props
---

<article
    class="rounded-md bg-flamingo-950 px-6 py-4 text-flamingo-100 shadow-sm ring-flamingo-800 hover:ring"
>
    <hgroup>
        <h2 class="mb-3 text-xl">{sketch.data.name}</h2>
        <p class="font-light italic text-flamingo-50">
            {sketch.data.brief}
        </p>
    </hgroup>
</article>
