---
import type { CollectionEntry } from "astro:content";

import ElmIcon from "~icons/devicon/elm";
import OpenGLIcon from "~icons/devicon/opengl";

interface Props {
  sketch: CollectionEntry<"sketches">;
}

const { sketch } = Astro.props;
const data = sketch.data;

let Icon;
let label;

switch (data.type) {
  case "elm":
    Icon = ElmIcon;
    label = "Sketch written using Elm";
    break;

  case "shader":
    Icon = OpenGLIcon;
    label = "GLSL shader animation";
    break;
}
---

<a href={`/sketches/${sketch.slug}`} class="sketch-card">
  <h2>{data.name}</h2>
  <p>{data.brief}</p>

  <Icon class="icon" aria-label={label} />
</a>

<style>
  .sketch-card {
    display: grid;
    grid-row: span 3;
    grid-template-rows: subgrid;

    color: var(--text);
    background-color: var(--background-alt);

    padding: var(--size-fluid-2);
    border: thin solid var(--text-alt);

    width: 100%;
    row-gap: var(--size-2);
  }

  .icon {
    place-self: end;
  }
</style>
