---
import type { CollectionEntry } from 'astro:content'

interface Props {
    sketch: CollectionEntry<'sketches'>
}

const { sketch } = Astro.props
---

<article
    class="rounded-md border bg-white dark:bg-flamingo-900 dark:text-flamingo-100 px-5 py-4 shadow-sm ring-flamingo-200 dark:ring-flamingo-700 dark:border-0 hover:ring"
>
    <hgroup>
        <h2 class="mb-3 text-xl">{sketch.data.name}</h2>
        <p class="font-light italic text-flamingo-800 dark:text-flamingo-50">
            {sketch.data.brief}
        </p>
    </hgroup>
</article>
