---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Projects"
  description="Index of projects created by Timothy Davis"
>
  <main>
    <h1>Projects</h1>
    <p>
      Content coming soon! The biggest projects I do are for work, so I can't
      show them off here.
    </p>
    <p>
      You're looking at one of my best ones right now though: this portfolio!
    </p>
  </main>
</BaseLayout>

<style>
  main {
    margin: var(--size-8) auto;
    width: min(100%, var(--size-content));
  }

  h1 {
    text-align: center;
  }
</style>
