@import "tailwindcss";

[inert] {
  @apply pointer-events-none;
}
[inert], [inert] * {
  @apply select-none;
}

::selection {
  @apply bg-fuchsia-400 text-white;
}

@theme {
  --animate-blur: 500ms blur ease-in;
  --animate-fade-in: 1s fade-in ease-in;
  --animate-slide-in: 500ms slide-in ease-in;

  --content: min(70ch, 100%);

  --shadow-solid: 4px 4px 0 0 rgb(0 0 0 / 0.25);

  --text-title: var(--text-4xl);
  --text-heading: var(--text-xl);
  --cols-heading: 1fr auto 1fr;


  @keyframes blur {
    100% {
      filter: blur(4px);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slide-in {
    0% {
      opacity: 0;
      translate: 0 -1em;
    }
    100% {
      opacity: 1;
      translate: 0 0;
    }
  }
}

@utility animation-fill-* {
  animation-fill-mode: --value("backwards", "forwards", "both");
}

@utility animation-delay-* {
  animation-delay: calc(--value(integer) * 1ms);
}

