@reference "./app.css";

.glass {
  @apply backdrop-blur-sm p-4 rounded-md border border-gray-100;
}

.btn-github {
  --btn-bg: oklab(0.278 -0.004 -0.011);
  --btn-shadow-color: oklab(0.178 -0.004 -0.011);
}

.btn-linkedin {
  --btn-bg: oklab(0.546 -0.061 -0.115);
  --btn-shadow-color: oklab(0.446 -0.061 -0.115);
}

.btn-email {
  --btn-bg: oklab(0.696 0.097 0.137);
  --btn-shadow-color: oklab(0.596 0.097 0.137);
}

.btn-link {
  --btn-color: oklab(0.12 0 0);
  --btn-bg: oklab(0.99 0 0);
  --btn-shadow-color: oklab(0.88 0 0);

  @apply bg-(image:--blur) bg-center;
}
