@reference "./app.css";

footer > a.btn {
  @apply flex items-center gap-x-2 px-3 py-2 font-mono text-sm;
}

.btn-visit-sketch {
  --btn-color: oklab(0.12 0 0);
  --btn-bg: oklab(0.99 0.01 -0.02);
  --btn-shadow-color: oklab(0.89 0.01 -0.02);
}
