---
import { getCollection } from "astro:content";
import "katex/dist/katex.min.css";

import BaseLayout from "../../layouts/BaseLayout.astro";
import SketchCanvas from "../../components/SketchCanvas.svelte";

export async function getStaticPaths() {
  const sketchEntries = await getCollection("sketches");

  return sketchEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const data = entry.data;

const { Content } = await entry.render();
---

<BaseLayout title={data.name + " | Sketches"} description={data.brief}>
  <article class="content">
    <header>
      <SketchCanvas
        client:load
        slug={entry.slug}
        background={data.background}
      />
    </header>

    <main>
      <Content />
    </main>
  </article>
</BaseLayout>

<style>
  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-inline: auto;
    width: fit-content;
    gap: var(--size-fluid-2);
  }

  header {
    align-self: start;
    position: sticky;
    top: var(--size-12);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main {
    width: min(100%, var(--size-content));
  }

  @media (max-width: 1024px) {
    article {
      grid-template-columns: 1fr;
    }

    header {
      position: revert;
    }
  }
</style>
