---
import SketchCard from '@components/SketchCard.astro'
import Layout from '@layouts/Layout.astro'
import { getCollection } from 'astro:content'

const sketches = await getCollection('sketches')
---

<Layout title="Sketches">
    <main class="container mx-auto w-full max-w-prose space-y-4 px-5">
        <hgroup class="prose">
            <h1>Sketches</h1>
            <p>
                Collection of coding "sketches". These are un-refined projects made for
                experimentation and, most of the time, fun.
            </p>
        </hgroup>

        <ul class="flex flex-row flex-wrap gap-4">
            {
                sketches.map((sketch) => (
                    <li class="flex-1 basis-48">
                        <a href={`/sketches/${sketch.slug}`}>
                            <SketchCard {sketch} />
                        </a>
                    </li>
                ))
            }
        </ul>
    </main>
</Layout>
