---
import SketchCard from '@components/SketchCard.astro'
import Layout from '@layouts/Layout.astro'
import { getCollection } from 'astro:content'

const sketches = await getCollection('sketches')
---

<Layout title="Sketches">
    <main class="container mx-auto space-y-4 px-5">
        <hgroup>
            <h1 class="text-2xl">Sketches</h1>
            <p>
                Collection of coding "sketches". These are un-refined projects made for
                experimentation and, most of the time, fun.
            </p>
        </hgroup>

        <ul class="grid grid-cols-2 gap-4 lg:grid-cols-3">
            {
                sketches.map((sketch) => (
                    <li>
                        <a href={`/sketches/${sketch.slug}`}>
                            <SketchCard {sketch} />
                        </a>
                    </li>
                ))
            }
        </ul>
    </main>
</Layout>
