---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout
  title={frontmatter.name + " | Blog"}
  description={frontmatter.brief}
>
  <nav>
    <!-- TODO: Add table of contents, and make it responsive (stack vertically on mobile) -->
  </nav>
  <article>
    <header>
      <h1>{frontmatter.name}</h1>
      <p>{frontmatter.brief}</p>
    </header>
    <main>
      <slot />
    </main>
  </article>
</BaseLayout>

<style>
  article {
    width: min(100%, var(--size-content));
    padding: var(--size-fluid-2);
  }
</style>
