---
export interface Props {
    title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title} | tmthy.dev</title>
    </head>

    <body class="bg-flamingo-50 text-flamingo-900 dark:bg-flamingo-800 dark:text-flamingo-50">
        <slot />
    </body>
</html>
