---
layout: main
title: Projects
meta:
  description: Various projects made by Tim Davis.
eleventyNavigation:
  key: projects
  parent: home
eleventyImport:
  collections: ["project"]
---

{%- html "head" -%}
  <link rel="stylesheet" href="/css/projects.css" />
{%- endhtml -%}

<main class="grid grid-cols-none gap-8 sm:grid-cols-2 lg:grid-cols-3 lg:gap-12">
  {% for project in collections.project -%}
    <article class="flex h-full flex-col">
      <h2 class="mb-2 font-mono text-xl">{{ project.data.title }}</h2>

      <p class="h-full text-neutral-700">{{ project.data.description }}</p>

      <footer class="mt-8 flex flex-wrap justify-end gap-2">
        {% if project.data.source %}
          <a
            class="btn btn-github btn-lift"
            href="{{ project.data.source }}"
            target="_blank"
          >
            <span>Source Code</span>
            {%- icon "github", width="16", height="16", class="inline-block", "aria-role"="presentation", "aria-label"="GitHub icon" -%}
          </a>
        {% endif %}
        {% if project.data.link -%}
          <a
            class="btn btn-visit btn-lift"
            href="{{ project.data.link }}"
            target="_blank"
          >
            <span>Visit</span>
            {%- icon "external-link", width="16", height="16", class="inline-block", "aria-role"="presentation", "aria-label"="External link icon" -%}
          </a>
        {%- endif %}
        {% if project.url %}<a
          class="btn btn-read btn-lift"
          href="{{ project.url }}"
        >
          Read More
        </a>{% endif %}
      </footer>
    </article>
  {% endfor %}
</main>
